# 과제 3-1 Groupby & crosstab

In [3]:
import pandas as pd
df = pd.read_csv('data/7.세종시_아파트(전월세)_실거래가.csv')

## 데이터 : "7.세종시_아파트(전월세)_실거래가.csv"
## 전세의 보증금 평균 값을 구하세요 groupby 사용

In [5]:
df.columns

Index(['Unnamed: 0', '계약년월', '계약일', '시군구', '본번', '부번', '단지명', '전월세구분',
       '전용면적(㎡)', '보증금(만원)', '월세(만원)', '층', '건축년도'],
      dtype='object')

In [21]:
df['전월세구분'].unique()
df2 = df[df['전월세구분'] == '전세']
df2['보증금(만원)'].mean()

df.groupby('전월세구분').mean()
df.groupby('전월세구분').mean()[['보증금(만원)']].loc[['전세']]

            보증금(만원)
전월세구분
전세     17329.536254

## 세종시 월세 평균 가격을 구하세요

In [33]:
df.head(5)
df.groupby('전월세구분').mean()[['월세(만원)']].loc[['월세']]

          월세(만원)
전월세구분
월세     42.001254

## 계약년도별, 시군구별 평균 보증금 가격를 구하세요

In [36]:
df.head(5)
df.groupby(['계약년월','시군구']).mean()[['보증금(만원)']]

                              보증금(만원)
계약년월   시군구
201701 세종특별자치시 고운동       19863.056738
       세종특별자치시 금남면 용포리    5757.142857
       세종특별자치시 나성동        4250.000000
       세종특별자치시 도담동       14773.290698
       세종특별자치시 보람동       18178.260870
...                               ...
202012 세종특별자치시 조치원읍 죽림리  20095.652174
       세종특별자치시 조치원읍 침산리  13800.000000
       세종특별자치시 종촌동       11374.894737
       세종특별자치시 한솔동       24281.255814
       세종특별자치시 해밀동       21800.000000

[1188 rows x 1 columns]

## 계약년도별 전세 건수를 구하세요

In [81]:
df.head(5)

,Unnamed: 0,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도
0,0,201701,13,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,10000,0,13,2015
1,1,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,18000,0,19,2015
2,2,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,59.8338,17000,0,10,2015
3,3,201701,15,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,17000,0,2,2015
4,4,201702,4,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),월세,84.9895,10000,30,13,2015

Empty DataFrame
Columns: []
Index: [(201701, 전세), (201702, 전세), (201703, 전세), (201704, 전세), (201705, 전세), (201706, 전세), (201707, 전세), (201708, 전세), (201709, 전세), (201710, 전세), (201711, 전세), (201712, 전세), (201801, 전세), (201802, 전세), (201803, 전세), (201804, 전세), (201805, 전세), (201806, 전세), (201807, 전세), (201808, 전세), (201809, 전세), (201810, 전세), (201811, 전세), (201812, 전세), (201901, 전세), (201902, 전세), (201903, 전세), (201904, 전세), (201905, 전세), (201906, 전세), (201907, 전세), (201908, 전세), (201909, 전세), (201910, 전세), (201911, 전세), (201912, 전세), (202001, 전세), (202002, 전세), (202003, 전세), (202004, 전세), (202005, 전세), (202006, 전세), (202007, 전세), (202008, 전세), (202009, 전세), (202010, 전세), (202011, 전세), (202012, 전세)]

## 인덱스에 시군구, 컬럼에는 전월세구분이 있는 도수분포표를 만드세요

In [82]:
pd.crosstab(df['시군구'], df['전월세구분'], dropna = True) # EDA : 데이터를 보고 인사이트

전월세구분               월세    전세
시군구
세종특별자치시 고운동       1176  4325
세종특별자치시 금남면 용포리    105   310
세종특별자치시 나성동        890   636
세종특별자치시 다정동        765  2030
세종특별자치시 대평동        451   434
세종특별자치시 도담동       1288  3467
세종특별자치시 반곡동         45   160
세종특별자치시 보람동        803  1937
세종특별자치시 부강면 부강리     18    39
세종특별자치시 새롬동       1185  2299
세종특별자치시 소담동        222   845
세종특별자치시 소정면 운당리      1     5
세종특별자치시 아름동        743  2692
세종특별자치시 어진동        364   683
세종특별자치시 연동면 명학리     38    90
세종특별자치시 연서면 봉암리     28    47
세종특별자치시 장군면 금암리      0    10
세종특별자치시 전동면 노장리      3     1
세종특별자치시 전의면 동교리     21    23
세종특별자치시 전의면 유천리     15    22
세종특별자치시 조치원읍 교리     16    59
세종특별자치시 조치원읍 남리     13    46
세종특별자치시 조치원읍 번암리   285   147
세종특별자치시 조치원읍 상리     22    28
세종특별자치시 조치원읍 서창리    60     5
세종특별자치시 조치원읍 신안리   145   393
세종특별자치시 조치원읍 신흥리   132   358
세종특별자치시 조치원읍 원리      9     3
세종특별자치시 조치원읍 정리      4     3
세종특별자치시 조치원읍 죽림리   210   652
세종특별자치시 조치원읍 침산리    56   172
세종특별자치시 종촌동       2090  3489
세종특별자치시 한솔동        730  1453
세종특별자치시 해밀동         27    72