# 과제 3-1 Groupby & crosstab

In [24]:
import pandas as pd
df = pd.read_csv('data/7.세종시_아파트(전월세)_실거래가.csv')

## 데이터 : "7.세종시_아파트(전월세)_실거래가.csv"
## 전세의 보증금 평균 값을 구하세요 groupby 사용

In [25]:
df.columns

Index(['Unnamed: 0', '계약년월', '계약일', '시군구', '본번', '부번', '단지명', '전월세구분',
       '전용면적(㎡)', '보증금(만원)', '월세(만원)', '층', '건축년도'],
      dtype='object')

In [26]:
df['전월세구분'].unique()
df2 = df[df['전월세구분'] == '전세']
df2['보증금(만원)'].mean()

df.groupby('전월세구분').mean()
df.groupby('전월세구분').mean()[['보증금(만원)']].loc[['전세']]

            보증금(만원)
전월세구분
전세     17329.536254

## 세종시 월세 평균 가격을 구하세요

In [27]:
df.head(5)
df.groupby('전월세구분').mean()[['월세(만원)']].loc[['월세']]

          월세(만원)
전월세구분
월세     42.001254

## 계약년도별, 시군구별 평균 보증금 가격를 구하세요

In [6]:
df.head(5)
df.groupby(['계약년월','시군구']).mean()[['보증금(만원)']]

                              보증금(만원)
계약년월   시군구
201701 세종특별자치시 고운동       19863.056738
       세종특별자치시 금남면 용포리    5757.142857
       세종특별자치시 나성동        4250.000000
       세종특별자치시 도담동       14773.290698
       세종특별자치시 보람동       18178.260870
...                               ...
202012 세종특별자치시 조치원읍 죽림리  20095.652174
       세종특별자치시 조치원읍 침산리  13800.000000
       세종특별자치시 종촌동       11374.894737
       세종특별자치시 한솔동       24281.255814
       세종특별자치시 해밀동       21800.000000

[1188 rows x 1 columns]

## 계약년도별 전세 건수를 구하세요

In [28]:
df.head(10)

,Unnamed: 0,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도
0,0,201701,13,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,10000,0,13,2015
1,1,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,18000,0,19,2015
2,2,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,59.8338,17000,0,10,2015
3,3,201701,15,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,17000,0,2,2015
4,4,201702,4,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),월세,84.9895,10000,30,13,2015
5,5,201702,8,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,19000,0,8,2015
6,6,201702,12,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,59.8338,12000,0,8,2015
7,7,201702,18,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,59.9897,16000,0,15,2015
8,8,201702,19,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,17000,0,8,2015
9,9,201702,21,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,15000,0,4,2015

In [29]:
# 계약년월 별 전세 건수
df2 = df[df['전월세구분']=='전세'].loc[:,['계약년월']]
df2['count'] = 1
df2.groupby('계약년월').count()

        count
계약년월
201701    718
201702    569
201703    474
201704    387
201705    385
201706    396
201707    442
201708    421
201709    565
201710    457
201711   1012
201712    518
201801    584
201802    439
201803    488
201804    336
201805    387
201806    432
201807    467
201808    481
201809    708
201810    526
201811    478
201812    561
201901    728
201902    590
201903    521
201904    492
201905    512
201906    570
201907    617
201908    565
201909    496
201910    645
201911    634
201912    916
202001    800
202002    848
202003    617
202004    550
202005    567
202006    617
202007    740
202008    624
202009    545
202010    502
202011    469
202012    539

In [19]:
# 계약년월 별 전세건수_2
pd.crosstab(df['계약년월'], df['전월세구분'], dropna = True )

전월세구분    월세    전세
계약년월
201701  222   718
201702  254   569
201703  192   474
201704  157   387
201705  147   385
201706  154   396
201707  174   442
201708  226   421
201709  214   565
201710  221   457
201711  286  1012
201712  283   518
201801  242   584
201802  218   439
201803  199   488
201804  134   336
201805  166   387
201806  169   432
201807  185   467
201808  249   481
201809  194   708
201810  201   526
201811  248   478
201812  281   561
201901  302   728
201902  246   590
201903  193   521
201904  191   492
201905  195   512
201906  243   570
201907  430   617
201908  250   565
201909  301   496
201910  343   645
201911  316   634
201912  369   916
202001  303   800
202002  408   848
202003  239   617
202004  247   550
202005  172   567
202006  314   617
202007  297   740
202008  256   624
202009  265   545
202010  225   502
202011  314   469
202012  525   539

In [31]:
# 계약년도 별 전세건수
df.info() # 계약년월 int 형식.
df['계약년월'] = df['계약년월'].astype('str')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38895 entries, 0 to 38894
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  38895 non-null  int64
 1   계약년월        38895 non-null  int64
 2   계약일         38895 non-null  int64
 3   시군구         38895 non-null  object
 4   본번          38895 non-null  object
 5   부번          38895 non-null  int64
 6   단지명         38895 non-null  object
 7   전월세구분       38895 non-null  object
 8   전용면적(㎡)     38895 non-null  float64
 9   보증금(만원)     38895 non-null  int64
 10  월세(만원)      38895 non-null  int64
 11  층           38895 non-null  int64
 12  건축년도        38895 non-null  int64
dtypes: float64(1), int64(8), object(4)
memory usage: 3.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38895 entries, 0 to 38894
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  38895 non-null  int64
 1   계약년월        38895 non-null  object
 2   계약일         38895 non-null  int64
 3   시군구         38895 non-null  object
 4   본번          38895 non-null  object
 5   부번          38895 non-null  int64
 6   단지명         38895 non-null  object
 7   전월세구분       38895 non-null  object
 8   전용면적(㎡)     38895 non-null  float64
 9   보증금(만원)     38895 non-null  int64
 10  월세(만원)      38895 non-null  int64
 11  층           38895 non-null  int64
 12  건축년도        38895 non-null  int64
dtypes: float64(1), int64(7), object(5)
memory usage: 3.9+ MB

In [36]:
df['계약년도'] = df['계약년월'].str[0:4]
df['시'] = df['시군구'].str.split(' ', expand=True)[0]
df

,Unnamed: 0,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도,계약년도,시
0,0,201701,13,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,10000,0,13,2015,2017,세종특별자치시
1,1,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,18000,0,19,2015,2017,세종특별자치시
2,2,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,59.8338,17000,0,10,2015,2017,세종특별자치시
3,3,201701,15,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,17000,0,2,2015,2017,세종특별자치시
4,4,201702,4,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),월세,84.9895,10000,30,13,2015,2017,세종특별자치시
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38890,38890,202011,21,세종특별자치시 해밀동,6402,1,해밀마을 2단지,월세,102.8300,10000,100,5,2020,2020,세종특별자치시
38891,38891,202012,8,세종특별자치시 해밀동,6402,1,해밀마을 2단지,월세,102.5300,10000,95,14,2020,2020,세종특별자치시
38892,38892,202012,11,세종특별자치시 해밀동,6402,1,해밀마을 2단지,전세,84.9500,30000,0,18,2020,2020,세종특별자치시
38893,38893,202012,12,세종특별자치시 해밀동,6402,1,해밀마을 2단지,전세,84.9500,34000,0,18,2020,2020,세종특별자치시
38894,38894,202012,13,세종특별자치시 해밀동,6402,1,해밀마을 2단지,월세,84.9500,8000,85,16,2020,2020,세종특별자치시

In [39]:
ct = pd.crosstab(df['계약년도'], df['전월세구분'])
ct

전월세구분    월세    전세
계약년도
2017   2530  6344
2018   2486  5887
2019   3379  7286
2020   3565  7418

## 인덱스에 시군구, 컬럼에는 전월세구분이 있는 도수분포표를 만드세요

In [82]:
pd.crosstab(df['시군구'], df['전월세구분'], dropna = True) # EDA : 데이터를 보고 인사이트!

전월세구분               월세    전세
시군구
세종특별자치시 고운동       1176  4325
세종특별자치시 금남면 용포리    105   310
세종특별자치시 나성동        890   636
세종특별자치시 다정동        765  2030
세종특별자치시 대평동        451   434
세종특별자치시 도담동       1288  3467
세종특별자치시 반곡동         45   160
세종특별자치시 보람동        803  1937
세종특별자치시 부강면 부강리     18    39
세종특별자치시 새롬동       1185  2299
세종특별자치시 소담동        222   845
세종특별자치시 소정면 운당리      1     5
세종특별자치시 아름동        743  2692
세종특별자치시 어진동        364   683
세종특별자치시 연동면 명학리     38    90
세종특별자치시 연서면 봉암리     28    47
세종특별자치시 장군면 금암리      0    10
세종특별자치시 전동면 노장리      3     1
세종특별자치시 전의면 동교리     21    23
세종특별자치시 전의면 유천리     15    22
세종특별자치시 조치원읍 교리     16    59
세종특별자치시 조치원읍 남리     13    46
세종특별자치시 조치원읍 번암리   285   147
세종특별자치시 조치원읍 상리     22    28
세종특별자치시 조치원읍 서창리    60     5
세종특별자치시 조치원읍 신안리   145   393
세종특별자치시 조치원읍 신흥리   132   358
세종특별자치시 조치원읍 원리      9     3
세종특별자치시 조치원읍 정리      4     3
세종특별자치시 조치원읍 죽림리   210   652
세종특별자치시 조치원읍 침산리    56   172
세종특별자치시 종촌동       2090  3489
세종특별자치시 한솔동        730  1453
세종특별자치시 해밀동         27    72